/* ===== IMPORTING TAILWIND =====*/
@import "tailwindcss";

/* ===== ALL FONT DECLARATIONS ===== */

/* Clash Display - Medium */ 
@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('../fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Supreme - Regular */ 
@font-face {
    font-family: 'Supreme-Variable';
    src: url('../fonts/Supreme-Variable.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Supreme - Bold */ 
@font-face {
    font-family: 'Supreme-Variable';
    src: url('../fonts/Supreme-Variable.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Supreme - RegularItalic */ 
@font-face {
    font-family: 'Supreme-VariableItalic';
    src: url('../fonts/Supreme-VariableItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Supreme - BoldItalic */ 
@font-face {
    font-family: 'Supreme-VariableItalic';
    src: url('../fonts/Supreme-VariableItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* ===== DESIGN TOKENS ===== */
:root {

    /* Font Configurations */
    --font-heading: 'ClashDisplay-Variable', sans-serif;
    --font-body: 'Supreme-Variable', sans-serif;
    --fs-h1: 4rem; /* 64px */
    --fs-h2: 3rem; /* 48px */
    --fs-h3: 2rem; /* 32px */
    --fs-h4: 1.5rem; /* 24px */
    --fs-h5: 1rem; /* 16px */
    --fs-h6: 0.875rem; /* 14px */

    /* Raw Color Configurations */
    --palette-slate-50: oklch(98.4% 0.003 247.858);
    --palette-slate-950: oklch(12.9% 0.042 264.695);
    
}  

/* ===== GLOBAL STYLES ===== */
body {
    font-family: var(--font-body);
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

h1 { font-size: var(--fs-h1); }

h2 { font-size: var(--fs-h2); }

h3 { font-size: var(--fs-h3); }

h4 { font-size: var(--fs-h4); }

h5 { font-size: var(--fs-h5); }

h6 { font-size: var(--fs-h6); }